/target/
/platform/targets/*/*.a
/platform/targets/*/*.o
/platform/targets/*/*.obj
/platform/targets/*/*.so
/platform/targets/*/*.lib
/platform/targets/*/*.tbd
/platform/targets/*/*.json
/platform/targets/macos-sysroot/
/counter
/main
/.test-out
/*.rgstats
/.docs-out
__pycache__
/generated-docs
/.artifact-cache/
/.release-out/
/examples/music-player/fixture/*.wav
/examples/database-browser/fixture/bookstore.db
.DS_Store
